@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #242528;
}


@font-face {
    font-family: "roadrage";
    src: url("/Road_Rage.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


.roadrage {
    font-family: "roadrage", sans-serif;
}
